body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    padding: 40px;
    background-color: red;
    color: black;
}

section {
    padding: 30px;
}

h2 {
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

footer {
    background-color: #111;
    padding: 15px;
    font-size: 14px;
}
